:root {
  --toxic-green-color: #00ff66;
  --basic-green-color: #009933;
  --bg-color: #0f172a;
  --dark-color: #0f172a;
  --white-color: #f0fdf4;
  --blue-color: #1d4ed8;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
  font-family: "Rubik", serif;
  font-weight: 700;
  font-style: normal;
  /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
}

.header__container {
  align-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.header__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  /* overflow-x: hidden; */
}

.decor__el-1,
.decor__el-2,
.decor__el-3 {
  position: absolute;
  border: 1px solid rgba(0, 255, 102, 0.8);
  border-radius: 50%;
  mix-blend-mode: screen; /* Эффект смешивания */
}

.decor__el-1 {
  width: 670px;
  height: 670px;
}

.decor__el-2 {
  width: 910px;
  height: 910px;
}

.decor__el-3 {
  width: 1128px;
  height: 1128px;
}

.decor__img {
  height: 55px;
  width: 55px;
}

.decor__el-c {
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #020617;
  border: 2px solid rgba(0, 255, 102, 0.2);
  border-radius: 100%;
  box-shadow: 0 0 20px 5px rgba(0, 153, 51, 0.25), inset 0 0 50px 10px rgba(0, 153, 51, 0.2);
  transition: all 0.2s ease;
}

.decor__el--active {
  box-shadow: 0 0 40px 5px rgba(0, 153, 51, 0.3), inset 0 0 100px 10px rgba(0, 153, 51, 0.25);
}

.decor__el-js {
  position: absolute;
  content: "";
  top: 260px;
  left: 10px;
}

.decor__el-html {
  position: absolute;
  content: "";
  top: 690px;
  left: -21px;
}

.decor__el-tail {
  position: absolute;
  content: "";
  top: 645px;
  left: 1060px;
}

.decor__el-webpack {
  position: absolute;
  content: "";
  top: 343px;
  left: 1050px;
}

.decor__el-css {
  position: absolute;
  content: "";
  top: 400px;
  left: -50px;
}

.decor__el-ts {
  position: absolute;
  content: "";
  top: 718px;
  left: 78px;
}

.decor__el-jest {
  position: absolute;
  content: "";
  top: 678px;
  left: 764px;
}

.decor__el-react {
  position: absolute;
  content: "";
  top: 110px;
  left: 750px;
}

.header__inner {
}

.header__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.nav__inner {
  display: flex;
  align-items: center;
  gap: 24px;
  border: 2px solid var(--basic-green-color);
  border-radius: 100px;
  padding: 18px 32px 18px 32px;
  width: fit-content;
  margin: 0;
}

.nav__home {
}

.nav__works {
}

.nav__about {
}

.header__title-containet {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-size: 120px;
  width: 832px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-align: center;
  color: var(--toxic-green-color);
  text-shadow: 0 0 15px rgba(0, 255, 102, 0.5), 0 0 10px rgba(0, 255, 102, 0.5),
    5px 5px 1px rgba(0, 255, 102, 0);
}

.header__sub-title {
  position: absolute;
  content: "";
  top: 130px;
  letter-spacing: 0.1em;
  font-size: 20px;
  color: var(--blue-color);
}

.header__action {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.header__btn {
  font-family: "Rubik", serif;
  background-color: inherit;
  border: 2px solid var(--basic-green-color);
  border-radius: 100px;
  padding: 18px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: var(--basic-green-color);
  cursor: pointer;
}
