:root {
  --toxic-green-color: #00ff66;
  --basic-green-color: #009933;
  --bg-color: #111827;
  --dark-color: #1f2937;
  --white-color: #f0fdf4;
  --blue-color: #1d4ed8;
  --font-family: "Rubik", serif;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
  font-family: "Rubik", serif;
  font-weight: 700;
  font-style: normal;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1f2937 inset !important;
  border-color: var(--basic-green-color);
}
input {
  -webkit-text-fill-color: var(--basic-green-color);
  -webkit-border-fill-color: var(--basic-green-color);
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  font: inherit;
  color: inherit;

  resize: none; /* Убирает возможность изменения размера */
  overflow: hidden; /* Убирает скролл */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
}

.header__container {
  align-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.header__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  /* overflow-x: hidden; */
}

.decor__el-1,
.decor__el-2,
.decor__el-3 {
  position: absolute;
  border: 1px solid rgba(0, 255, 102, 0.8);
  border-radius: 50%;
  mix-blend-mode: screen;
}

.decor__el-1 {
  width: 670px;
  height: 670px;
}

.decor__el-2 {
  width: 910px;
  height: 910px;
}

.decor__el-3 {
  width: 1128px;
  height: 1128px;
}

.decor__img {
  height: 55px;
  width: 55px;
}

.decor__el-c {
  /* position: relative; */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #020617;
  border: 2px solid rgba(0, 255, 102, 0.2);
  border-radius: 100%;
  box-shadow: 0 0 20px 5px rgba(0, 153, 51, 0.25), inset 0 0 50px 10px rgba(0, 153, 51, 0.2);
  transition: all 0.2s ease;
}

.decor__el--active {
  box-shadow: 0 0 40px 5px rgba(0, 153, 51, 0.3), inset 0 0 100px 10px rgba(0, 153, 51, 0.25);
}

.decor__el-js {
  position: absolute;
  content: "";
  top: 260px;
  left: 10px;
}

.decor__el-html {
  position: absolute;
  content: "";
  top: 690px;
  left: -21px;
}

.decor__el-tail {
  position: absolute;
  content: "";
  top: 645px;
  left: 1060px;
}

.decor__el-webpack {
  position: absolute;
  content: "";
  top: 343px;
  left: 1050px;
}

.decor__el-css {
  position: absolute;
  content: "";
  top: 400px;
  left: -50px;
}

.decor__el-ts {
  position: absolute;
  content: "";
  top: 718px;
  left: 78px;
}

.decor__el-jest {
  position: absolute;
  content: "";
  top: 678px;
  left: 764px;
}

.decor__el-react {
  position: absolute;
  content: "";
  top: 110px;
  left: 750px;
}

.header__inner {
}

.header__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.nav__inner {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 2px solid var(--basic-green-color);
  border-radius: 100px;
  padding: 15px 25px 15px 25px;
  width: fit-content;
  margin: 0;
}

.nav__svg {
  padding: 5px;
}

/* Neon SVG Style */

/* Optional: Animate the glow */
/* @keyframes neon-glow {
  0%,
  100% {
    filter: drop-shadow(0 0 5px rgba(0, 255, 102, 0.8)) drop-shadow(0 0 10px rgba(0, 255, 102, 0.6))
      drop-shadow(0 0 20px rgba(0, 255, 102, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(0, 255, 102, 1)) drop-shadow(0 0 20px rgba(0, 255, 102, 0.8))
      drop-shadow(0 0 30px rgba(0, 255, 102, 0.6));
  }
} */

/* .nav__svg {
  animation: neon-glow 2s infinite;
} */

.header__title-containet {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-size: 120px;
  width: 832px;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-align: center;
  color: var(--toxic-green-color);
  text-shadow: 0 0 15px rgba(0, 255, 102, 0.5), 0 0 10px rgba(0, 255, 102, 0.5),
    5px 5px 1px rgba(0, 255, 102, 0);
}

.header__sub-title {
  position: absolute;
  content: "";
  top: 130px;
  letter-spacing: 0.1em;
  font-size: 20px;
  color: var(--blue-color);
}

.header__action {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.header__btn {
  font-family: "Rubik", serif;
  background-color: inherit;
  border: 2px solid var(--basic-green-color);
  border-radius: 100px;
  padding: 18px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: var(--basic-green-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.header__btn:active {
  box-shadow: 0 0 40px 5px rgba(0, 153, 51, 0.3), inset 0 0 100px 10px rgba(0, 153, 51, 0.25);
}

.main {
  margin-top: 300px;
}

.works {
  width: 100%;
  display: flex;
  justify-content: center;
}

.works__inner {
  width: 100%;
}

.title {
  position: relative;
}

.title__decorate {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  left: 0;
  height: 2px;
  background-color: var(--basic-green-color);
  box-shadow: 0 0 20px 0 var(--basic-green-color);
}

.section__title {
  position: relative;
  z-index: 10;
  font-family: "Rubik", serif;
  background-color: var(--bg-color);
  border: 2px solid var(--basic-green-color);
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 600;
  color: var(--basic-green-color);
  text-align: center;
  width: 235px;
  box-shadow: 0 0 20px 5px rgba(0, 153, 51, 0.25);
}

.works__container {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(5, 226px);
  grid-template-rows: repeat(3, 600px);
  row-gap: 24px;
  justify-content: center;
}

.links__small {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 20;
  height: 100%;
  width: 100%;
}

.works__bs--small {
  grid-column: 1 / 3;
  grid-row: 1/1;
  background-color: var(--dark-color);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s ease;
  margin-right: 24px;
}

.works__tl--big {
  grid-column: 3/6;
  grid-row: 1/1;
  background: var(--dark-color);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.works__sg--big {
  grid-column: 1 / 4;
  grid-row: 2/3;
  background: var(--dark-color);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s ease;
  margin-right: 24px;
}

.works__wa--small {
  grid-column: 4 / 6;
  grid-row: 2/3;
  background: var(--dark-color);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.works__mc--big {
  grid-column: 3/6;
  grid-row: 3/4;
  background: var(--dark-color);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.works__sc--small {
  grid-column: 1 / 3;
  grid-row: 3/4;
  background-color: var(--dark-color);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s ease;
  margin-right: 24px;
}

.works__card {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: end;
  padding: 36px;
}

.works__info {
  z-index: 10;
  width: 260px;
  height: 200px;
  background: #eff6ff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.works__info-main {
  display: flex;
  justify-content: space-between;
  gap: 65px;
}

.info__text {
  font-size: 16px;
  color: var(--bg-color);
  font-weight: 400;
}

.works__info-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--bg-color);
}

.works__img {
  transition: all 0.2s ease;
  position: absolute;
  object-fit: cover;
  object-position: center;
  filter: brightness(80%);
}

.works__img--battleship {
  border-top-left-radius: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 75%;
  height: 85%;
  object-position: left;
}

.works__img--sg {
  border-top-left-radius: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 84%;
  height: 89%;
  object-position: left;
}

.works__img--tl {
  border-top-left-radius: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 85%;
  height: 85%;
  object-position: left;
}

.works__img--wa {
  border-top-left-radius: 15px;
  position: absolute;
  bottom: -52px;
  right: -45px;
  object-fit: cover;
  width: 75%;
  height: 98%;
  object-position: left;
}

.works__img--sc {
  border-top-left-radius: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 75%;
  height: 85%;
  object-position: left;
}

.works__img--mc {
  border-top-left-radius: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 84%;
  height: 89%;
  object-position: left;
}

.about {
  margin-top: 110px;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
}

.about__inner {
}

.about__title {
  font-family: "Rubik", serif;
  background-color: inherit;
  border: 2px solid var(--basic-green-color);
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 600;
  color: var(--basic-green-color);
  text-align: center;
  width: 235px;
  box-shadow: 0 0 20px 5px rgba(0, 153, 51, 0.25);
}

.about__container {
  margin-top: 21px;
  display: flex;
  gap: 24px;
}

.about__img {
  border-radius: 15px;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__info-title {
  font-size: 46px;
  font-weight: 600;
  color: var(--white-color);
}

.about__info-text {
  margin-top: 55px;
  font-size: 26px;
  font-weight: 500;
  color: var(--white-color);
}

.about__contact-btn {
  background-color: inherit;
  border: 2px solid var(--basic-green-color);
  border-radius: 50px;
  padding: 15px 30px 15px 30px;
  width: 160px;
  color: var(--basic-green-color);
  font-size: 26px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.about__contact-btn:active {
  box-shadow: 0 0 40px 5px rgba(0, 153, 51, 0.3), inset 0 0 100px 10px rgba(0, 153, 51, 0.25);
}
.contact {
  margin-top: 110px;
  max-width: 1128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-left: auto;
  margin-right: auto;
}

.contact__inner {
  width: 100%;
}

.contact__title {
  font-family: "Rubik", serif;
  background-color: inherit;
  border: 2px solid var(--basic-green-color);
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 600;
  color: var(--basic-green-color);
  text-align: center;
  width: 235px;
  box-shadow: 0 0 20px 5px rgba(0, 153, 51, 0.25);
}

.contact__container {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid var(--basic-green-color);
  border-radius: 1000px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__info-title {
  font-weight: 600;
  font-size: 32px;
  color: var(--basic-green-color);
  background-color: var(--bg-color);
  padding: 0 10px 0 10px;
  margin-top: -20px;
}

.contact__info-container {
  margin-top: 35px;
  margin-left: 24px;
}

.mail__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--basic-green-color);
}

.mail__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #2563eb;
  cursor: pointer;
  width: 170px;
}

.contact__social {
  margin-top: 50px;
}

.contact__social-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--basic-green-color);
}

.social__container {
  margin-top: 20px;
}

.social__container svg {
  cursor: pointer;
}

.contact__form {
}

.contact__form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact__form-title {
  font-weight: 600;
  font-size: 32px;
  color: var(--basic-green-color);
  background-color: var(--bg-color);
  padding: 0 10px 0 10px;
  margin-top: -20px;
  margin-left: -10px;
}

.form__inner {
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form__inp {
  border: 2px solid rgba(0, 153, 51, 0.8);
  border-radius: 50px;
  height: 50px;
  background-color: #1f2937;
  padding: 10px 0 12px 20px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 22px;
  color: var(--basic-green-color);
  display: flex;
  align-items: center;
  margin-right: 175px;
}

.form__inp::placeholder {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 22px;
  color: var(--basic-green-color);
}

.form__inp:focus {
  box-shadow: 0 0 20px 5px rgba(0, 153, 51, 0.25);
}

.form__btn {
  z-index: 1;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  background-color: inherit;
  border: 2px solid var(--basic-green-color);
  border-radius: 100px;
  padding: 12px 50px 12px 50px;
  margin: 20px 0px 0 -10px;
  line-height: 10px;
  background-color: var(--bg-color);
  color: var(--basic-green-color);
  width: 160px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  margin-right: 175px;
}

.form__btn_inner {
  position: relative;
  margin-left: auto;
}

.form__btn:active {
  box-shadow: 0 0 40px 5px rgba(0, 153, 51, 0.3), inset 0 0 100px 10px rgba(0, 153, 51, 0.25);
}

.form__btn-dec {
  position: absolute;
  content: "";
  bottom: 15px;
  right: 168px;
  height: 20px;
  width: 174px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.education {
  margin-top: 100px;
}

.education__container {
  max-width: 1128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.education__inner {
  width: 100%;
}

.education__item {
  margin-left: 96px;

  width: 880px;
}

.item__main {
  display: flex;
  align-items: center;
  gap: 68px;
}

.decor__el_text {
  font-size: 52px;
  color: var(--basic-green-color);
  font-weight: 400;
}

.text__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1; /* Занимает доступное пространство */
}

.text__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  width: 100%;
}

.item__title {
  font-weight: 400;
  font-size: 24px;
  color: #64748b;
}

.item__text {
  font-weight: 400;
  font-size: 24px;
  color: #475569;
  max-width: 486px;
}

.item__date {
  font-weight: 400;
  font-size: 24px;
  color: #64748b;
}

.decor__line {
  position: absolute;
  content: "";
  top: 103px;
  background-color: #023a21;
  width: 2px;
  height: 50px;
  z-index: -1;
}

.decor__el-i {
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #020617;
  border: 2px solid rgba(0, 255, 102, 0.2);
  border-radius: 100%;
  box-shadow: 0 0 20px 5px rgba(0, 153, 51, 0.25), inset 0 0 50px 10px rgba(0, 153, 51, 0.2);
  transition: all 0.2s ease;
}

.footer {
  border-top: 2px solid var(--basic-green-color);
  margin-top: 120px;
  height: 120px;
  background: var(--bg-color);
  color: #475569;
  display: flex;
}

.footer__inner {
  align-items: center;
  max-width: 1128px;
  display: flex;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 400;
}

.footer__date {
  margin-left: 3px;
  margin-right: 3px;
}

.footer__text {
}

.footer__link {
  margin-left: 3px;
  color: #475569;
}

@media (hover: hover) and (pointer: fine) {
  .header__btn:hover {
    box-shadow: 0 0 20px 5px rgba(0, 153, 51, 0.25), inset 0 0 50px 10px rgba(0, 153, 51, 0.2);
  }
  .works__card:hover.works__bs--small {
    background-color: #4f46e5;
    box-shadow: inset 5px -60px 80px 5px rgba(0, 0, 0, 0.2);
  }
  .footer__link:hover {
    margin-left: 3px;
    color: #1e3a8a;
  }
  .works__card:hover .works__img--battleship {
    width: 78%;
    filter: brightness(90%);
  }
  .works__card:hover.works__sg--big {
    background-color: #d946ef;
    box-shadow: inset 5px -60px 80px 5px rgba(0, 0, 0, 0.2);
  }
  .works__card:hover .works__img--sg {
    width: 86%;
    filter: brightness(90%);
  }
  .works__card:hover.works__tl--big {
    background-color: #f43f5e;
    box-shadow: inset 5px -60px 80px 5px rgba(0, 0, 0, 0.2);
  }
  .works__card:hover .works__img--tl {
    width: 87%;
    filter: brightness(90%);
  }
  .works__card:hover .works__img--wa {
    width: 78%;
    filter: brightness(90%);
  }
  .works__card:hover.works__wa--small {
    background-color: #fb923c;
    box-shadow: inset 5px -60px 80px 5px rgba(0, 0, 0, 0.2);
  }
  .works__card:hover .works__img--sc {
    width: 78%;
    filter: brightness(90%);
  }
  .works__card:hover.works__sc--small {
    background-color: #4f46e5;
    box-shadow: inset 5px -60px 80px 5px rgba(0, 0, 0, 0.2);
  }
  .works__card:hover.works__mc--big {
    background-color: #16a34a;
    box-shadow: inset 5px -60px 80px 5px rgba(0, 0, 0, 0.2);
  }

  .works__card:hover .works__img--mc {
    width: 86%;
    filter: brightness(90%);
  }
  .about__contact-btn:hover {
    box-shadow: 0 0 20px 5px rgba(0, 153, 51, 0.25), inset 0 0 50px 10px rgba(0, 153, 51, 0.2);
  }

  .social__container svg:hover path {
    fill: var(--basic-green-color);
    transition: fill 0.3s ease;
  }
  .form__btn:hover {
    box-shadow: 0 0 20px 5px rgba(0, 153, 51, 0.25), inset 0 0 50px 10px rgba(0, 153, 51, 0.2);
  }
  .form__btn:disabled:hover {
    color: #1e293b;
    border: 2px solid #1e293b;
    box-shadow: none;
  }
}
